.jello-horizontal {
  animation: tilt-in-left-1 .6s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0
  }

  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1
  }
}

.slide-in-blurred-top {
  animation: slide-in-blurred-top .6s cubic-bezier(.23, 1.000, .32, 1.000) both
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0
  }

  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1
  }
}

.slide-in-right {
  animation: slide-in-right .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0
  }

  100% {
    transform: translateX(0);
    opacity: 1
  }
}